<html>
<head>
  <title>Rock, Paper, Scissor</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <!-- Connect to Bootstrap CSS -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

  <!-- Connect to Font Awesome CSS -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

  <!-- Connect to Bootstrap Javascript -->
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default">
        <a href="http://localhost:3000/rock">Rock</a>
      </button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default">
        <a href="http://localhost:3000/paper">Paper</a>
      </button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default"><a href="http://localhost:3000/scissors">Scissors</a></button>
    </div>
  </div>



  <%= yield %>

</body>
</html>
